.rotorArray {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;

    ;

}

.rotor {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
}

